*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-main {
  padding-top: 50px;

  background-color: #eeeeee;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation-main ul,
.product-items,
.about-us ul,
.advantage-items,
.partners ul,
.sorting-items,
.pagination-info {
  list-style: none;
}

.header-main-logo {
  width: 160px;
  height: 65px;
}

.navigation-main a {
  color: #000000;
}

.navigation-main a:hover,
.navigation-main a:focus {
  color: #fb565a;
}

.navigation-main a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-site,
.navigation-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}

.navigation-site {
  width: 440px;
}

.navigation-site-current {
  border-bottom: 2px solid #fb565a;
}

.navigation-cart {
  justify-content: flex-end;
  max-width: 160px;

  text-align: right;
}

.navigation-cart .cart-link {
  position: relative;
  padding-left: 80px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 40px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item.slider-active {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;

  color: #283136;
}

.products {
  margin-bottom: 20px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.product-items {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-items:last-child {
  margin-right: 61px;
}

.product-item {
  width: 300px;
}

.product-item-title {
  margin: 0;
  margin-top: 18px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item-description {
  max-width: 245px;
  margin-bottom: 32px;

  color: #283136;
}

.button {
  display: block;
  width: 240px;padding: 13px 0;

  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;
  box-sizing: content-box;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.button-red,
.button-green,
.button-yellow {
  width: 160px;
}

.button-green {
  text-transform: uppercase;

  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button-yellow {
  text-transform: uppercase;

  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
  padding-bottom: 48px;

  border-bottom: 2px solid #eeeeee;
}

.about-us {
  width: 660px;
  padding-top: 55px;
}

.about-us-title {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-us-text {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  color: #283136;
}

.about-us h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us ul {
  margin: 0;
  padding: 0;
}

.about-us li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;

  color: #283136;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 2px;

  background-color: #ef5358;
}

.advantage {
  width: 360px;
  padding-top: 20px;
}

.advantage b {
  display: block;
  padding-top: 30px;
  margin-bottom: 13px;

  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantage-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin: 0;
}

.advantage-item-number {
  padding: 0;
  padding-top: 37px;
  padding-right: 23px;
  margin: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  color: #000000;
}

.percents {
  vertical-align: super;

  font-size: 25px;
}

.advantage-item-text {
  margin: 0;
  padding: 0;
  padding-top: 36px;

  line-height: 18px;
  color: #283136;
}

.partners {
  margin-bottom: 80px;
  padding-bottom: 45px;

  border-bottom: 2px solid #eeeeee;
}

.partners ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.partner-button img {
  opacity: 0.2;
}

.partner-button:hover img,
.partner-button:focus img {
  opacity: 1;
}

.partner-button:active img {
  opacity: 0.1;
}

.row-title {
  background-color: #eeeeee;
}

.row-title .container {
  text-align: center;
}

.page-title {
  display: inline-block;
  width: 760px;

  padding-top: 60px;
  padding-bottom: 115px;
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.range-price {
  background-color: #eeeeee;
}

.filter ul {
  list-style: none;
}

.filter label {
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-input {
  line-height: 22px;
  color: #283136;
  text-align: center;
  border: none;

  background-color: #eeeeee;
}

.filter-option label {
  line-height: 20px;
  color: #283136;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.right-panel {
  width: 760px;
}

.sorting-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-item-select {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.sorting-item-select:active,
.sorting-item-select.active-sorting {
  opacity: 1;
}

.sorting-item-select:hover,
.sorting-item-select:focus {
  opacity: 0.6;
}

.type-sorting {
  color: #000000;
  opacity: 0.2;

  background-color: #a6a6a6;
}

.type-sorting:active,
.type-sorting.active-sorting {
  opacity: 1;
}

.type-sorting:hover,
.type-sorting:focus {
  opacity: 0.6;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 360px;
  margin-bottom: 35px;

  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 1, 1, 0.1);
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item:active {
  box-shadow: 0 0 10px rgba(0, 1, 1, 0.3);
}

.catalog-item .catalog-item-description {
  display: none;
}

.catalog-item:hover .catalog-item-description,
.catalog-item:focus .catalog-item-description,
.catalog-item:active .catalog-item-description {
  display: block;
}

.catalog-list {
  list-style: none;
}

.catalog-item-description {
  text-align: center;

  background-color: #eeeeee;
}

.catalog-item-description .catalog-item-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-description .catalog-item-header:hover,
.catalog-item-description .catalog-item-header:focus {
  color: #fb565a;
}

.catalog-item-description .catalog-item-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-text {
  line-height: 18px;
  color: #666666;
}

.pagination-info {
  margin: 0;
  padding: 0;
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.pagination-item.pagination-item-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-info a:active {
  opacity: 0.3;

  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.map-img {
  width: 100%;
}

.map-marker {
  position: relative;
  left: 1105px;
  top: -354px;
}

.feedback {
  background-color: #ffffff;
}

.feedback-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.feedback address,
.feedback p {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.footer-text {
  display: flex;
  align-items: center;
  padding: 75px 0;
}

.footer-social {
  width: 260px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.benefit {
  width: 560px;
  margin-left: 159px;
}

.benefit b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.benefit p {
  margin: 0;
  padding: 0;
  padding-top: 8px;

  line-height: 22px;
  color: #444444;
}

.modal {
  display: none;
}
